Flask
flask-cors
numpy
pandas
scikit-learn
librosa
joblib
python-dotenv
google-generativeai
langchain
langchain-google-genai
langchain-community
chromadb
pypdf
gunicorn
langchain-chroma
langchain-text-splitters